{% extends 'layout.html' %}

{% block body %}
<br>
<br>
<br>
{% if message %}
    <div class="alert alert-danger alert-dismissible d-flex align-items-center" role="alert">
        <div>{{ message }}</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}
<center>
<div class="card shadow" style="width: 50%;">
    <div class="card-body">
        <h5 class="card-title">Sign In</h5>
        <form method="post" class="row g-3" id="loginForm">
            {% csrf_token %}
            <div class="col-sm-12">
                <input type="text" class="form-control" name="username" placeholder="Username" required>
            </div>

            <div class="col-sm-12">
                <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>

            <div class="col-sm-12 d-flex justify-content-end">
                <button type="submit" class="btn btn-success" id="login">Sign In</button>
            </div>
        </form>
    </div>
</div>
<br>
<br>
<br>
<div class="card shadow" style="width: 50%;">
    <div class="card-body">
        <h5 class="card-title">Register</h5>
        <form action="{% url 'register' %}" method="post" class="row g-3" id="registerForm">
            {% csrf_token %}
            <div class="col-sm-12">
                <input type="text" class="form-control" name="username" placeholder="Username" required>
            </div>

            <div class="col-sm-12">
                <input type="email" class="form-control" name="email" placeholder="Email" required>
            </div>

            <div class="col-sm-12">
                <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>

            <div class="col-sm-12">
                <input type="password" class="form-control" name="confirmation" placeholder="Confirm Password" required>
            </div>
            
            <div class="col-sm-12 d-flex justify-content-end">
                <button type="submit" class="btn btn-success" id="register">Register</button>
            </div>
        </form>
    </div>
</div>
</center>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
    let loginForm = document.getElementById("loginForm");
    loginForm.addEventListener('submit', () => {
        let data = new FormData(loginForm);
        let dataObj = Object.fromEntries(data);
        let callURL = `${document.location.protocol}//${document.location.host}/api/token/`
        axios.post(callURL, {
            "username" : dataObj['username'],
            "password" : dataObj['password']
        })
        .then(res => {
            localStorage.setItem('access', res.data.access);
            localStorage.setItem('refresh', res.data.refresh);
        })
    })   
</script>
{% endblock %}