{% extends "layout.html" %}

{% block body %}
<br>
<a class="d-flex justify-content-end" href="{% url 'logout' %}">Sign Out</a>
<br>
<center>
    <h1>To-Do List</h1>
</center>

<br>

<div class="input-group mb-3">
    <input type="text" id="task" class="form-control" placeholder="Add an item" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Add</button>
</div>

<ul class="list-group">

</ul>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
    axios.defaults.headers.common['Authorization'] = `Bearer ${localStorage.getItem('access')}`;
    document.querySelector("#button-addon2").addEventListener('click', () => {
        let title = document.querySelector("#task").value.trim();
        let callURL = `${document.location.protocol}//${document.location.host}/api/`;
        if (title) {
            axios.defaults.xsrfCookieName = 'csrftoken'
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
            axios.post(callURL, {
                "title" : title,
                "completed" : false
            })
            .then(location.reload())
            .catch(err => {
                let callURL = `${document.location.protocol}//${document.location.host}/api/token/refresh/`;
                axios.post(callURL, {
                    "refresh" : localStorage.getItem('refresh')
                }).then(res => {
                    localStorage.setItem('access', res.data.access);
                    location.reload();
                })
            })
        }
    })
    let callURL = `${document.location.protocol}//${document.location.host}/api`;
    let ul = document.querySelector('.list-group');
    axios.get(callURL).then(res => {
        for (let i = 0; i < res.data.length; i++) {
            if (res.data[i].completed) {
                ul.innerHTML += `<li class="list-group-item d-flex justify-content-between align-items-center">
            <input class="form-check-input me-1" type="checkbox" value="${res.data[i].id}" checked> ${res.data[i].title}<button type="button" class="btn btn-danger">
      		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
					  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
					  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
					</svg>
      	</button></li>`;
            }
            else {
                ul.innerHTML += `<li class="list-group-item d-flex justify-content-between align-items-center">
            <input class="form-check-input me-1" type="checkbox" value="${res.data[i].id}"> ${res.data[i].title}<button type="button" class="btn btn-danger">
      		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
					  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
					  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
					</svg>
      	</button></li>`;
            }
        }
    })
    .then(() => {
        let li = document.querySelectorAll('li');
        for (let i = 0; i < li.length; i++) {
            let checkbox = li[i].getElementsByTagName('input')[0];
            checkbox.addEventListener('change', () => {
                let callURL = `${document.location.protocol}//${document.location.host}/api/${checkbox.value}/update`;
                let title = li[i].innerText;
                let completed = checkbox.checked;
                axios.defaults.xsrfCookieName = 'csrftoken'
                axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
                axios.put(callURL, {
                    "title" : title,
                    "completed" : completed
                })
                .catch(err => {
                    let callURL = `${document.location.protocol}//${document.location.host}/api/token/refresh/`;
                    axios.post(callURL, {
                        "refresh" : localStorage.getItem('refresh')
                    }).then(res => {
                        localStorage.setItem('access', res.data.access);
                        location.reload();
                    })
                })
            })
        }
        
        for (let i = 0; i < li.length; i++) {
            let button = li[i].getElementsByTagName('button')[0];
            let checkbox = li[i].getElementsByTagName('input')[0];
            button.addEventListener('click', () => {
                let callURL = `${document.location.protocol}//${document.location.host}/api/${checkbox.value}/delete`;
                let title = li[i].innerText;
                axios.defaults.xsrfCookieName = 'csrftoken'
                axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
                axios.delete(callURL)
                .then(location.reload())
                .catch(err => {
                    let callURL = `${document.location.protocol}//${document.location.host}/api/token/refresh/`;
                    axios.post(callURL, {
                        "refresh" : localStorage.getItem('refresh')
                    }).then(res => {
                        localStorage.setItem('access', res.data.access);
                        location.reload();
                    })
                })
            })
        }
    })
    .catch(err => {
        let callURL = `${document.location.protocol}//${document.location.host}/api/token/refresh/`;
        axios.post(callURL, {
            "refresh" : localStorage.getItem('refresh')
        }).then(res => {
            localStorage.setItem('access', res.data.access);
            location.reload();
        })
    })
</script>
{% endblock %}