{% extends "layout.html" %}

{% block body %}
<h1>To-Do List</h1>

<div class="input-group mb-3">
    <input type="text" id="task" class="form-control" placeholder="Add an item" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Add</button>
</div>

<ul class="list-group">

</ul>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
    document.querySelector("#button-addon2").addEventListener('click', () => {
        let title = document.querySelector("#task").value.trim();
        let callURL = `${document.location.protocol}//${document.location.host}/api/`;
        if (title) {
            axios.defaults.xsrfCookieName = 'csrftoken'
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
            axios.post(callURL, {
                "title" : title,
                "completed" : false
            }).then(location.reload())
        }
    })
    let callURL = `${document.location.protocol}//${document.location.host}/api`;
    let ul = document.querySelector('.list-group');
    axios.get(callURL).then(res => {
        for (let i = 0; i < res.data.length; i++) {
            if (res.data[i].completed) {
                ul.innerHTML += `<li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="${res.data[i].id}" checked> ${res.data[i].title}</li>`;
            }
            else {
                ul.innerHTML += `<li class="list-group-item">
            <input class="form-check-input me-1 flex-grow-1" type="checkbox" value="${res.data[i].id}"> ${res.data[i].title}</li>`;
            }
        }
    }).then(() => {
        let li = document.querySelectorAll('li');
        for (let i = 0; i < li.length; i++) {
            let checkbox = li[i].getElementsByTagName('input')[0];
            checkbox.addEventListener('change', () => {
                let callURL = `${document.location.protocol}//${document.location.host}/api/${checkbox.value}/update`;
                let title = li[i].innerText.slice(1);
                let completed = checkbox.checked;
                axios.defaults.xsrfCookieName = 'csrftoken'
                axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
                axios.put(callURL, {
                    "title" : title,
                    "completed" : completed
                })
            })
        }
    })
</script>
{% endblock %}